<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url=/x_desktop/index.html?app=<%= projectName %>&default=false&debugger"/>
    <title></title>
  </head>
</html>
